.h-button {
    background-image: linear-gradient(to right, #01090e 0%, #4e4376 51%, #2b5876 100%);
    line-height: 0px;
    color: aquamarine;
    border-radius: 25px;
    cursor: crosshair;
    font-family: "Press Start 2P", system-ui;
    font-weight: 800;
    font-style: normal;
    box-shadow: 0 0 10px #eee;
    box-sizing: content-box; width: 700px; 

}

.h-button:hover {
  background-color: #eee;
  color: purple;
}


body{background-color: black; color: white; font-size: 24px;}

.h-button h2 a{
  text-decoration: none;
  color: aquamarine;
}
.social{
  display: flex;
}
.social .social-logo{
  display: flex;
  
}
.social-logo{
  display: flex;
  width:75px;
  justify-content: flex-start;
}
.social-logo img,a{
  width: 50px;
  height: auto;
  border: solid 1px aquamarine;
  background-color: none;
  display: flex;
  margin: 0px;
}


